// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.events{
	table {
		border-collapse: collapse;
		
	}

	dl.list_item {
		padding: 5px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	

		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}
	
	.hidden{
		display: none;
	}
	
	.list_action{
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	dl.list_line_even{
		background: #E0E8F8;
	}

	dl.list_line_odd{
		background: #B0F8B9;
	}
}